@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

body {
  font-family: "나눔고딕", Nanum Gothic, "굴림", "Gulim", "sans-serif", "Tahoma";
  font-size: 14px;
}

h2 {
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 1rem;
}

button {
  border-radius: 0.5rem;
  border: 1px solid grey;
  padding: 0.2rem;
}

button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.label {
  position: absolute;
  left: 0.3rem;
  top: 0.3rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.icon {
  position: absolute;
  right: 1rem;
  top: 2rem;
  font-size: 1.8rem;
  color: white;
}

.machine {
  position: relative;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  width: 750px;
  height: 100%;
  margin: 0 auto;
  gap: 1rem;
  padding: 1rem;
  background-color: #071108;
  border-radius: 1rem;
  box-sizing: border-box;
}

.header {
  grid-column: 1/3;
  grid-row: 1;
}

.container {
  position: relative;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: white;
}

.drink-box {
  padding-top: 2em;
  grid-column: 1/2;
  grid-row: 2;
  min-height: 300px;
  box-sizing: border-box;
}

.input-box {
  padding-top: 2em;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.balance {
  display: flex;
}

.col-6 {
  flex: 50%;
}

.text-balance {
  display: flex;
  justify-content: left;
  align-items: center;
}

.output-box {
  grid-column: 1/3;
  grid-row: 3;
}

.drinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.drink {
  flex: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.drink p {
  margin: 0;
  text-align: center;
}

.drink-button {
  box-sizing: border-box;
  min-width: 80px;
  font-size: inherit;
}

.drink-button:hover {
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 8px;
}

.drink-button p:first-child {
  font-weight: 800;
}

.small-font {
  font-size: 0.9em;
}

.drink-img {
  height: 50px;
  width: 30px;
  margin-bottom: 0.5em;
  background-repeat: no-repeat;
  background-size: contain;
}

#img-1 {
  background-image: url("./img/cola.png");
}
#img-2 {
  background-image: url("./img/oj.png");
}
#img-3 {
  background-image: url("./img/coffee.png");
}
#img-4 {
  background-image: url("./img/water.png");
}
#img-5 {
  background-image: url("./img/corn.png");
}
#img-6 {
  background-image: url("./img/milkis.png");
}
#img-7 {
  background-image: url("./img/trevi.png");
}
#coin-100 {
  background-image: url("./img/money-hundred.png");
}
#coin-500 {
  background-image: url("./img/money-five.png");
}
#coin-1000 {
  background-image: url("./img/money-thousand.jpg");
}

.output-box {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.return {
  background-color: #1e91d6;
  color: white;
  width: 100%;
  padding: 0.3rem 0;
}

.return:hover {
  box-shadow: #024e7d 0px 3px 8px;
}

.coins {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
}

.coins > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-img {
  height: 30px;
  width: 30px;
  margin-bottom: 0.5em;
  background-repeat: no-repeat;
  background-size: contain;
}

#coin-1000 {
  width: 60px;
}

.coins button {
  width: 100%;
  box-sizing: border-box;
}

.coin:hover {
  background-color: #f8f4a6;
}

.balance {
  display: flex;
  justify-content: space-between;
}

.money {
  border: 1px solid black;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  text-align: right;
}

.footer {
  color: white;
  text-align: center;
  grid-row: 4;
  grid-column: 1/3;
}

@media screen and (max-width: 768px) {
  .machine {
    margin: 0;
    display: block;
    width: 100%;
  }

  .container {
    margin-bottom: 1em;
  }

  .input-box,
  .drinks {
    gap: 0em;
  }

  .coins {
    display: flex;
    flex-direction: column;
  }

  .coin {
    width: 100%;
  }

  .drink {
    flex: 30%;
  }

  .input-box > * {
    margin-bottom: 1rem;
  }
}
